@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

.SelectedOne:active hr,
.SelectedOne:hover hr,
.SelectedOne:focus hr {
    opacity: 1;
    transition: opacity 0.2s ease;
}


@layer components {
    .sub-menu {
        @apply absolute p-[15px] rounded-b-[6px] rounded-tr-[6px] origin-[50%_-170px] text-black backdrop-blur bg-white shadow-2xl z-50;
    }
}

.ourProduct-slide .slick-slide {
    padding: 20px;
}

@media (max-width: 600px) {
    .ourProduct-slide .slick-slide {
        padding: 10px;
    }
}

/* .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  .mySwiper .swiper-pagination-bullet {
    background-color: #000;
    
  }
  
  .mySwiper .swiper-pagination-bullet-active {
    background-color: #ffc609;
  }
  